<ion-view view-title="Led">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar-center">
        <h2>LED 1</h2>
      </div>
      <div class="item item-body">
        <p>
          <div><button class="button button-positive" ng-click="httpLedOn(http)">
              Prender http
            </button>
            <button class="button button-positive" ng-click="httpLedOff(http)">
              Apagar http
            </button>
            <button class="button button-balanced" ng-click="ledOn()">
              Prender MQTT
            </button>
            <button class="button button-assertive" ng-click="ledOff()">
              Apagar MQTT
            </button>
            <button class="button icon ion-ios-lightbulb" ng-if="ledState == true"> Prendido</button>
            <button class="button icon ion-ios-lightbulb-outline" ng-if="ledState == false"> Apagado</button>
          </div>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>