<ion-view view-title="Actuador">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar-center">
        <h2>DHT 11</h2>
      </div>
      <div class="item item-body">
        <p>
          <ion-list>
             <p>Fecha: {{datosDhT.timestamp}}</p>
          </ion-list>
          <ion-list>
             <p>Temperatura: {{datosDhT.temperatura}}º</p>
          </ion-list>
          <ion-list>
            <p>Humedad: {{datosDhT.humedad}}%</p>
          </ion-list>
        </p>

        <div zingchart id="chartHistorial" zc-json="historial" zc-height="500" zc-width="100%"></div>
      </div>
    </div>
  </ion-content>
</ion-view>