<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Led Tab -->
  <ion-tab title="Led" icon-off="ion-lightbulb" icon-on="ion-lightbulb" href="#/tab/led">
    <ion-nav-view name="tab-led"></ion-nav-view>
  </ion-tab>

  <!-- Actuator Tab -->
  <ion-tab title="Actuador" icon-off="ion-podium" icon-on="ion-podium" href="#/tab/actuador">
    <ion-nav-view name="tab-actuador"></ion-nav-view>
  </ion-tab>

</ion-tabs>