<ion-view view-title="Data">
  <ion-content>
    <ion-list>
          Time: <p>{{datosDhT.timestamp}}</p>
    </ion-list>
    <ion-list>
        Temperatura: <p>{{datosDhT.temperatura}}</p>
  </ion-list>
  <ion-list>
      Humedad: <p>{{datosDhT.humedad}}</p>
</ion-list>

  </ion-content>
</ion-view>
