<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="lista in lista" type="item-text-wrap">
          <p>{{lista.gender}}</p>
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
